* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
/* Logo */
.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.logo h2 {
  font-size: 22px;
  font-weight: 700;
  color: #111;
}
.logo span {
  font-size: 11px;
  color: #666;
  letter-spacing: 2px;
}
/* Navigation */
.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}
.nav-links a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
}
/* Button */
.btn {
  text-decoration: none;
  background: #2f66f6;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
/* code connect css section */
.hero {
  position: relative;
  height: 650px;
  background-image: url("./assets/banner.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Dark Overlay */
.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(98, 96, 96, 0.65);
}
/* Hero Content */
.hero-content {
  position: relative;
  max-width: 800px;
  text-align: center;
  color: white;
  padding: 20px;
}
.hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-content p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 35px;
  color: #d7d7d7;
}
/* speaker section css */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.speakers {
  padding: 100px 0;
  background: #ffffff;
}
.section-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 60px;
  color: #222;
}
.speaker-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.speaker-card {
  background: #d8d4d4;
  border-radius: 12px;
}
.speaker-card img {
  width: 100%;
  height: 300px;
  display: block;
  border-radius:  12px;
}
.speaker-info {
  padding: 22px;
}
.speaker-info h3 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #222;
}
.speaker-info p {
  color: #777;
  font-size: 15px;
}
/* pricing section css */
.pricing {
  padding: 100px 0;
  background: #ffffff;
}
.pricing-subtitle {
  text-align: center;
  color: #666;
  margin-bottom: 60px;
}
/* Grid */
.pricing-grid.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
/* Card */
.price-card {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 30px 30px;
}
.price-card-btn{
  background: #2f66f6;
  color: #fff;
  width: 100px;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}
.price-card-btn a{
      text-decoration: none;
}
.price-card h6 {
  color: #777;
}
/* Active Card */
.price-card.active {
  background: #0f172a;
  color: #fff;
}
.price-card.active h5,
.price-card.active h2,
.price-card.active li,
.price-card.active h6,
.price-card.active a {
  color: white;
}
/* Badge */
.badge {
  background: #2563eb;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}
/* Title */
.price-card h5 {
  color: #777;
  margin-bottom: 10px;
}
.price-card h2 {
  font-size: 48px;
}
/* List */
.price-card ul {
  padding-top: 20px;
  margin-bottom: 35px;
}
.price-card li {
  margin-bottom: 14px;
  color: #555;
}
/*Statistics Section css*/
.statistics{
    padding:100px 0;
    background:#b2b6be;
}
.statistics-heading{
    text-align:center;
    margin-bottom:60px;
}
.statistics-heading h2{
    color:#ffffff;
    font-size:42px;
    font-weight:700;
    margin-bottom:15px;
}
.statistics-heading p{
    color:#4e5869;
    font-size:18px;
    max-width:650px;
    margin:auto;
}
/* Grid */
.statistics-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}
/* Card */
.stat-card{
    background:#4e5869;
    border-radius:12px;
    padding:45px 20px;
    text-align:center;
}
/* Number */
.stat-card h3{
    color:#ffffff;
    font-size:52px;
    font-weight:700;
    margin-bottom:12px;
}
/* Text */
.stat-card p{
    color:#cbd5e1;
    font-size:18px;
}
/* ==========================
        Footer
========================== */
.footer{
    background:#0f172a;
    padding:40px 0;

}

/* Top */

.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:25px;

}
/* Social Icons */
.footer-social{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:18px;
    color: #ffffff;
    width:45px;
    height:45px;
    border-radius:50%;
}
/* Divider */
.footer hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.15);
}
/*Bottom */
.footer-bottom{
    text-align:center;
    padding-top:25px;
}
.footer-bottom p{
    color:#cbd5e1;
    font-size:15px;
}